name: CodSpeed

on:
  push:
    branches:
      - "master"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Upgrade pip
        run: pip install --upgrade pip

      - name: Install dev dependencies
        run: pip install -r requirements-dev.txt

      - name: Install ez-a-sync
        run: pip install -e .

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: pytest tests/benchmarks/ --codspeed
