name: MyPy

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  mypy:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        
    - name: Setup Python (faster than using Python container)
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.pyversion }}

    - name: Update pip
      run: python -m pip install --upgrade pip
      
    - name: Install MyPy
      run: pip install mypy types-requests
      
    - name: Run MyPy
      run: mypy ./a_sync --pretty --ignore-missing-imports --show-error-codes --show-error-context --enable-incomplete-feature=Unpack --install-types --non-interactive
