name: PyTest

on:
  push:
    branch: dev
    paths:
      - '**.py'
      - '**/pytest.yaml'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master, dev ]
    paths:
      - '**.py'
      - '**/pytest.yaml'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    #timeout-minutes: 10
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        include:
        - os: ubuntu-latest
          path: ~/.cache/pip
        - os: macos-latest
          path: ~/Library/Caches/pip
        - os: windows-latest
          path: ~\AppData\Local\pip\Cache

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Python (faster than using Python container)
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}-${{ hashFiles('**/requirements-dev.txt') }}
          path: |
            ${{ matrix.path }}
      
      - name: Cache joblib middleware cache
        uses: actions/cache@v3
        with:
          # Include requirements.txt so we recache if web3 version changes
          key: forceupdatedeletethislater3-${{ runner.os }}-${{ matrix.network }}-${{ hashFiles('**/middleware.py') }}-${{ hashFiles('**/requirements.txt') }}
          path: |
            ./cache/*/joblib/web3/middleware/filter/middleware

      - name: Install dependencies
        run: |
          pip install pytest
          pip install -r requirements.txt
      
      - name: Run test suite
        run: pytest
      