name: PyTest

on:
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master, dev ]
    paths:
      - '**.py'
      - '**.pxd'
      - '**.pyx'
      - '**/pytest.yaml'
      - '!**/docs/conf.py'
      - 'pyproject.toml'
      - 'requirements.txt'
      - 'requirements-dev.txt'
      
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
        exclude:
        # gh runner throws "Error: Version ${{ matrix.pyversion }} with arch arm64 not found"
        - os: macos-latest
          pyversion: "3.8"
        - os: macos-latest
          pyversion: "3.9"

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup Python (faster than using Python container)
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pyversion }}

      - name: Upgrade pip
        run: pip install --upgrade pip

      - name: Install dev dependencies
        run: pip install -r requirements-dev.txt

      - name: Install ez-a-sync
        run: pip install -e .
      
      - name: Run test suite
        run: pytest
      
