name: PyTest

on:
  push:
    branch: dev
    paths:
      - '**.py'
      - '**/pytest.yaml'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master, dev ]
    paths:
      - '**.py'
      - '**/pytest.yaml'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.8", "3.9", "3.10", "3.11" ]

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Python (faster than using Python container)
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.pyversion }}

      - name: Install dependencies
        run: |
          pip install pytest
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      
      - name: Run test suite
        run: pytest
      
